html, body { 
	height: 100%; 
	width:100%; 
}


body {
    margin: 0;
    /*background-color:  #69a2b0;*/
	background-color:  #fff; /* ok */
	color: #0d1b2a;
    font: 12pt Lucida Sans Unicode, sans-serif;
	zoom:1;	
}

/*ol, ul {
    list-style: none;
}*/

h2 {
	color: #1f567d;
	font-weight: 600;
	font-size: 130%;
	margin:0 5px 5px 0;
}

/*
a {
	color: #0079c1;
}

/*
a:visited {
	color: #ce7da5;
}
*/

.important {
	color: #a31621;
	font-weight: bold;
}

.committee {
	padding: 0px 0px 0px 0px;
}

.committee .chair {
	color: #576ca8;
}

.content {
	width:95%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 25px;
}

.centered {
	max-width: 1100px; 
	margin: 0 auto;
}

.img-span div {
  text-align: justify;
  line-height: 100px;
  height: 100px;
  background: gold;
}

.img-span img, span {
  display: inline-block;
  vertical-align: middle;
}

.img-span div:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#sections li {
	padding:0 0 10px 0;
}

#sections .section {
	color: #27213c;


}
#sections .chair {
	color: #576ca8;
}


#sponsor-line {
	display:flex;
	display: -webkit-flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	padding: 20px 0px;
}

#sponsor-line div {

}

#head-conf { 
	font: 14pt;
    padding-top: 10px;
	padding-bottom: 20px;
	background-color: #1f567d;
	text-align:center;	
}

#head-conf h1 {		
	font-family: Lucida Sans Bold, sans-serif;
	/*color: fafaff;*/
	color: #f8f4e3;
	font-weight: 900;
	font-size: 170%;
	letter-spacing: 4px;
	line-height: 150%;
	padding: 10px 0px;
}

#head-conf h2 {
	font-family: Lucida Sans Bold, sans-serif;
	/*color: #eafffd;*/
	color: #f3efe0;
	/*color: #fafaff;*/
	font-weight: 600;
	font-size: 130%;
	letter-spacing: 2px;
	padding: 5px 0px;
}

#menu {
	text-align: center;
	background-color: #1b4b6d;
	padding: 0px 0px;
}


#menu-line {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	
	width:100%;
	height:40px;
	/*background-color: #33aadf;*/
	/*background-color: #1b4b6d;*/
}



#menu-line a { 
	width:100%;
	margin: 0 auto;
	color: #fafaff;
	text-decoration: none;
	padding:8px 0;
}

#menu-line a:hover { 
	background: #fff;
	color: #1b4b6d;
}
#menu-line a.active { 
	background: #fff;
	color: #1b4b6d;
}

#menu-line div {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex-grow:2;
	-webkit-flex-grow:2;
	
	/*background-color: #1b4b6d;*/
	height:100%;
}

#sea {
	padding:40px 0px;
}

#bottom {
	background-color: #1f567d;
	padding-bottom:60px;
	margin-top:20px;
	color: #fafaff;
}

#bottom-line {
	display:flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	align-content: flex-end;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

#bottom a {
	color:#fff;
}

#dyn {
}

.info {
	color: #14080e;
}

.hidden {
	display:none;
	visibility:hidden;
	overflow:hidden;
}

.participants li {
	line-height: 1.8;
    list-style: none;	
}

.name {
	font-weight: 500;
	font-size: 110%;
}


.affiliation {
	color: #576ca8;
	/*color: #1f567d;*/
	font-weight: 500;
	font-size: 100%;
	/*font-style: italic;*/
    padding-left: 10px;
	/*visibility: hidden;*/
}

.affiliation:before {
    content:'(';
}

.affiliation:after {
    content:')';
}

.news {
	padding:10px 0px 10px;
}

.newshead {		
	font-weight:600;
	margin: 7px 0px 5px 0px;;
}

.newstext {
	/*color: #0079c1;*/
	color: #1f567d;
}

.newsdate {
	color: #0079c1;
	padding: 2px 7px 2px 0px;
}

@media (min-width: 1300px) {

}

@media (max-width: 1000px) {

	body {
		font: 12pt Lucida Sans Unicode, sans-serif;
	}
}

@media (max-width: 800px) {
	
	body {
		font: 10pt Lucida Sans Unicode, sans-serif;
	}
}